{% extends 'pages/base.html' %}
{% load i18n %}
{% comment %} {% block title %} Omnilegents {% endblock %} {% endcomment %}
{% block title %} {% trans "TechnoStyleFashion" %} {% endblock %}
{% block content %}
{% comment %} programado por: Andres Rua{% endcomment %}
<section>
  <div class="post-text-box text-black">
    <img src="https://i.ibb.co/DYDqnng/Techno-Style-Fashion.png" 
    alt="{% trans 'TechnoStyleFashion' %}" class="img-fluid" style="width: 400px; border-radius: 10%;">
  </div>
</section>
{% endblock %}